@* @model Pontual.DTO.Post.CadastroPostDTO

<h2>Cadastro Inicial</h2>
<form asp-action="Cadastro" method="post">
    <fieldset>
        <legend>Login</legend>
        <input asp-for="DadosUsuario.DadosLogin.Usuario" placeholder="Usuário" />
        <input asp-for="DadosUsuario.DadosLogin.Senha" type="password" placeholder="Senha" />
        <input asp-for="DadosUsuario.DadosLogin.ContraSenha" type="password" placeholder="Confirmar Senha" />
    </fieldset>

    <fieldset>
        <legend>Perfil</legend>
        <input asp-for="DadosUsuario.DadosPerfil.Nome" placeholder="Nome completo" />
        <input asp-for="DadosUsuario.DadosPerfil.NomeSocial" placeholder="Nome social" />
        <input asp-for="DadosUsuario.DadosPerfil.Cargo" placeholder="Cargo" />
    </fieldset>

    <fieldset>
        <legend>Contato</legend>
        @for (int i = 0; i < Model.DadosUsuario.DadosContato.Count; i++)
        {
            <input asp-for="DadosContato[@i].Contato" placeholder="Contato" />
            <select asp-for="DadosContato[@i].TipoContato">
                <option value="1">Email</option>
                <option value="2">WhatsApp</option>
                <option value="3">Celular</option>
                <option value="4">Telefone Fixo</option>
                <option value="5">Rede Social</option>
            </select>
        }
    </fieldset>

    <fieldset>
        <legend>Endereço</legend>
        @for (int i = 0; i < Model.DadosUsuario.DadosEndereco.Count; i++)
        {
            <input asp-for="DadosEndereco[@i].Rua" placeholder="Rua" />
            <input asp-for="DadosEndereco[@i].Numero" placeholder="Número" />
            <input asp-for="DadosEndereco[@i].Cidade" placeholder="Cidade" />
            <input asp-for="DadosEndereco[@i].UF" placeholder="UF" />
        }
    </fieldset>

    <input asp-for="DadosUsuario.Documento" placeholder="CPF/CNPJ" />
    <input asp-for="DadosUsuario.DataNiver" type="date" />

    <button type="submit">Salvar Cadastro</button>
</form> *@